{% extends "base.html" %}
{% block title %} - Status{% endblock %}

{% block content %}
  <h2>*Information about the hub*</h2>

  {% with all_posts = get_posts() %}
    <div class="posts_container">
      <div class="posts">
        <h3>Posts</h3>
        {% for post in all_posts %}
        {{ post['content'] }}
        <form method="post">
          <button name="delete-{{ post['key'] }}" type="submit">&times;</button>
        </form>
        {% endfor %}
      </div>
      <div class="new_post">
        <h3>New post</h3>
        <form id="new_post_form">
          <textarea id="post_content" name="post_content" rows="4" cols="50">Enter text...</textarea>
          <input type="submit" value="Post">
        </form>
      </div>
    </div>
  {% endwith %}
{% endblock %}
